@charset "UTF-8";

/*
Typical Device Breakpoints
--------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }
    nav {
        display: block;
    }
    nav > a{
      display: inline-block;
      font-size: 1.2em;
      width:135px;
      
      border: none;
    }
    main {
        width: 800px;
    }

    section#projetos div{
        display: inline-block;
        transition: .4s;

        
    }

    section#projetos > div > a > img {
        height: 130px;
        width: 250px;
    }

    section#projetos > div.login {
        margin-left:60px; 
    }
    section#projetos > div.android {
        margin-left: 110px;
    }
    section#projetos > div.redes-sociais {
        margin: 30px 30px ;
    }
    section#projetos > div.cordel {
        margin-left:50px; 
    }
}
